# Period and PeriodIndex

In [65]:
## timestamp

In [66]:
import pandas as pd

#creating 2016 time period

y = pd.Period('2016')
y

Period('2016', 'A-DEC')

# features of Period

In [67]:
# starttime, endtime, leapyearornot
dir(y)

['__add__',
 '__array_priority__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_offset',
 '_add_timedeltalike_scalar',
 '_dtype',
 '_from_ordinal',
 '_maybe_convert_freq',
 '_require_matching_freq',
 'asfreq',
 'day',
 'day_of_week',
 'day_of_year',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [68]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [69]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [70]:
m = pd.Period('2011-2',freq='M')

In [71]:
m

Period('2011-02', 'M')

In [72]:
m.start_time

Timestamp('2011-02-01 00:00:00')

In [73]:
m.end_time

Timestamp('2011-02-28 23:59:59.999999999')

In [74]:
m+1 #feb

Period('2011-03', 'M')

In [75]:
# daily time period

In [76]:
d = pd.Period('2017-02-28',freq='D')

In [77]:
d

Period('2017-02-28', 'D')

In [78]:
d+1 #1st march

Period('2017-03-01', 'D')

In [79]:
#period object

In [80]:
#it can identify a leap year

# Daily periodic object

In [81]:
d = pd.Period('2016-02-28',freq='D')
d+1

#leap year

Period('2016-02-29', 'D')

# Hourly periodic object

In [82]:
h = pd.Period('2017-08-15 23:00:00',freq='H')
h

Period('2017-08-15 23:00', 'H')

In [83]:
h+1

Period('2017-08-16 00:00', 'H')

In [84]:
h+pd.offsets.Hour(1)

Period('2017-08-16 00:00', 'H')

# Quaterly Periodic Object

In [85]:
q1= pd.Period('2017Q1', freq='Q-JAN')
q1

Period('2017Q1', 'Q-JAN')

In [86]:
q1.start_time

Timestamp('2016-02-01 00:00:00')

In [87]:
q1.end_time

Timestamp('2016-04-30 23:59:59.999999999')

In [88]:
#asfreq - converting period to a different frequency

In [89]:
q1.asfreq('M',how='start')

Period('2016-02', 'M')

In [90]:
q1.asfreq('M',how='end')

Period('2016-04', 'M')

# weekly periodic Object

In [91]:
w = pd.Period('2017-07-05',freq='W')
w

Period('2017-07-03/2017-07-09', 'W-SUN')

In [92]:
w-1

Period('2017-06-26/2017-07-02', 'W-SUN')

In [93]:
w2 = pd.Period('2017-08-15',freq='W')
w2

Period('2017-08-14/2017-08-20', 'W-SUN')

In [61]:
w2-w

# Period Index and period_range( )

In [62]:
r = pd.period_range('2011', '2017', freq='q')
r

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]')

In [64]:
print(r[0].start_time)
print(r[0].end_time)

2011-01-01 00:00:00
2011-03-31 23:59:59.999999999